.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.527)), url('/public//images//property\ \(9\).jpg');

  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.content{
  padding: 10px;
}