.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.568)), url('/public/images/e1a128f1-b3b9-4c65-bb4f-77aec884be29.jpg');

  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.content{
  padding: 10px;
}