.image-app {
    width: 400px;
    margin: auto;

}

Row {
    text-align: center;
    display: flex;
    align-items: center;
}

.parent-image-app {
    text-align: center;
}



@media (max-width: 500px) {
    .fff a img {
        text-align: end !important;
        width: 200px;
    }
     .fff {
        background-color: red;
     }

  
    .parent-image-app .image-app {
width: 260px;
    }


}