.omage-app {
    width: 400px;
    margin: auto;

}

Row {
    text-align: center;
    display: flex;
    align-items: center;
}

.parent-image-app {
    text-align: center;
}

.fff {
    display: inline;
}

@media (max-width: 500px) {
    .fff a img {
        width: 130px;
    }

    .ffff img {
        width: 130px;

    }
    .parent-image-app img{
        width: 370px;
    }


}