.nav-links {
    position: fixed;
    width: 100%;
    z-index: 99;
    backdrop-filter: blur(5px);
     z-index: 99;
     border-radius: 50px;
     margin-top: 10px;

}

.navs {
    display: flex;
    justify-content: space-between;
}





@media (max-width: 500px) {
    .nav-links {
        backdrop-filter: blur(20px);
     width: 74%;
     margin-right: 50px;
    }


}