/* From Uiverse.io by Yaya12085 */
.card {
    max-width: 100%;
    border-radius: 0.5rem;
    background-color: #0c0c0c;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.719);
    border: 1px solid transparent;
    border: 1px solid white;
}

.parent-page {
    padding-top: 150px;
}

.back-g {
    height: 420px;
    padding-top: 5px;

}

.parent-page {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card a {
    text-decoration: none
}

.content {
    padding: 1.1rem;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.719);
    border: 1px solid white;
}

.title {
    color: #bdbdbd;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.desc {
    margin-top: 0.5rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
}