/* From Uiverse.io by Yaya12085 */
.card{
    max-width: 100%;
    border-radius: 0.5rem;
    background-color: #181717a6;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.719);
    border: 1px solid transparent;
    border: 1px solid white;
    margin-bottom: 3px;
    height: 440px; 

}
.card:hover{
transform: scale(1.04);
}

.parent-page {
    padding: 130px 0 0px 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-aqar {
    width: 100%;
    height: 160px;
}

